html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: "Helvetica", sans-serif;
}
  /*  */
.container {
  max-width: 960px;
  margin: 0 auto;
}

  /* banner and nav */

header {
     background-image: url("../images/glasses-bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 30rem;
     padding-top: 1rem;

  }



nav {
  display: flex;
  background-color: cadetblue;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 3rem;

}

nav div {
  display: flex;
  align-items: center;
}


nav li {
  display: inline;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}


nav img {
 height: 1.5rem;
 margin-left: 2rem;
 margin-right: 1rem;
}

.mobile-menu {
  display: none;
}




header .flex {
  display: flex;
  justify-content: flex-end;

}
.headline {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;

}


@media only screen and (max-width: 1024px) {

header {
  height: 22rem;
  padding-top: 0;
}

nav.container {
max-width: 100%

}

.headline {
  padding: 0.75rem 4rem;
  margin-top: 5rem;
  margin-right: 2rem;
}

h1 {
  font-size: 1.33rem;
}

}

@media only screen and (max-width: 700px) {

.menu ul {
  display: none;
}

.menu ul.mobile-menu {
  display: block;
}

}


@media only screen and (max-width:560px) {

header div span {
  display: none;
  height: 17rem;
}

header {
background-position: 20%;
}

headline {
  width: 100%
  padding: 0 1rem;
  text-align: center;
  margin: 9rem auto 0 auto;
}

h1 {
  font-size: 1rem;
}

}


  /* services */

  .container2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    height: 8rem;
    margin: 3rem;
    text-align: center;
  }


.service img {
      width: 5rem;
      margin-bottom: 1rem;
    }

.service img.paper-icon {
      width: 3.5rem;
    }

  /* business info  */


.info {
  width: 35%;
  margin-right: 5%;
}

.title {
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;

}

.info p {
  padding-top: 1rem;
}

@media only screen and (max-width:560px) {

.service {
  height: auto;
  margin: 1.54rem;
  font-size: .77rem;

}


}

  /* footer */

footer {
  display: flex;
  background-color: azure;
  align-items: center;
  margin-top: 5rem;

}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
