html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: "Helvetica", sans-serif;
}
  /*  */
.container {
  max-width: 960px;
  margin: 0 auto;
}

  /*  */
nav {
  background-color: cadetblue;
  color: white;
  align-items: center;
  top: 1rem;
}
nav ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  font-size: 1rem;
  justify-content: space-between;
  display: flex;
  flex-flow: 1 wrap;
}

li {
  padding-right: 2rem;

}
nav #company {
  flex: 2;
  margin-right: 0;
}

nav img {
 height: 1.5rem;
 padding-right: 1rem;
}

  /*  */

.banner {
   background-image: url("../images/glasses-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 31rem;
   top: 0;
}


.banner h1 {
  position: relative;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  top: 10rem;
  font-weight: bold;
  line-height: 1.2;
  margin-right: -2rem;
  display: flex;
  justify-content: flex-end;

}


  /*  */




  /*  */




  /*  */


  /*  */
