html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: "Helvetica", sans-serif;
}
  /*  */
.container {
  max-width: 960px;
  margin: 0 auto;
}

  /* banner and nav */

  .banner {
     background-image: url("../images/glasses-bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 31rem;
     display: flex;
     flex-wrap: wrap;
  }

nav {
  background-color: cadetblue;
  color: white;
  align-items: center;
  top: 1rem;
  height: 3rem;
  width: 960px;
}

nav img {
  height: 1.5rem;
}

nav ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  font-size: 1rem;
  justify-content: space-between;
  display: flex;
  flex-flow: 1 wrap;
}



li {
  padding-right: 2rem;

}
nav #company {
  flex: 2;
  margin-right: 0;
}

nav img {
 height: 1.5rem;
 padding-right: 1rem;
}

  /*  */


.headline {
  display: flex;
  margin-right: -2rem;
  justify-content: flex-end;
  position: relative;

}

.headline h1 {
  position: relative;
  top: 14rem;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}


  /* services */

  .container2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    max-width: 75%;

  }
  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    height: 8rem;
    margin: 3rem;
    text-align: center;
  }


.service img {
      width: 5rem;
      margin-bottom: 1rem;
    }

.service img.paper-icon {
      width: 3.5rem;
    }

  /* business info  */


.info {
  width: 35%;
  margin-right: 5%;
}

.title {
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;

}

.info p {
  padding-top: 1rem;
}



  /* footer */

footer {
  display: flex;
  background-color: azure;
  align-items: center;
  margin-top: 5rem;

}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
